body, html{
    background-color: rgb(186, 231, 186);
    margin: 0;
    padding: 0;
    height: 100%;
}
.container{
    border: 1px dotted black;
    margin: auto;
    width: 70%;
    height: 100%;
    padding: 2%;
}
.screen{
    width: auto;
    height: 60%;
}
.buttons{
    width: auto;
    height: auto;
    margin: 2rem;

}
/* responsive */
@media (min-width: 560px) {
    body {
      background-color: rgb(85, 40, 40);
    }
    .screen {
        width: 600px;
        height: 600px;
        position: relative;
        margin: 20px;
    }
  }

/* selected sticker or frames */
.selected{
    border: 5px solid blue;
}
/* showing camera and captured at one place */
.screen {
    /* width: 600px;
    height: 600px; */
    position: relative;
    margin: 2%;
}
video, canvas{
    width: 100%;
    height: 100%;
  }

video {
    /* width: 100%;
    height: 100%; */
    position: absolute;
    top: 0;
    left: 0;
    border: 2px dotted blue;
}
canvas {
    z-index: 100;
    border: 2px dotted green;

}