body, html{
    margin: 0;
    padding: 0;
    height: 100%;
}
.container{
    border: 1px dotted black;
    margin: auto;
    width: 70%;
    height: 100%;
    padding: 2%;
}
.buttons{
    width: auto;
    height: auto;
    margin: 2rem;
}
.flexrow{
    max-width: 300px;
}
/* responsive */
@media (min-width: 560px) {
    .container{
        max-width: 60vw;
    }    
    .screen{
        max-width: 40vw;
        position: relative;
    }
}

/* selected sticker or frames */
.selected{
    border: 5px solid blue;
}
.frame{
    height: 80px;
    width: 80px;
}
/* showing camera and captured at one place */
.screen {
    width: 60vw;
    position: relative;
    margin: auto;
}
video, canvas{
    width: 100%;
  }

video {
    position: absolute;
    top: 0;
    left: 0;
}
