{% extends 'layout.html' %}
{% load static %}
{% block body %}
  <div class="screen">
    <video id="video" autoplay></video>
    <canvas id="canvas"></canvas> 
    <img id="screen-gif" src="" alt=""> 
  </div>

  <div class="buttons">
    <div class="flexrow">
      <div class="upper_btn">
        <button id="start-camera" class="menu_button">Take Picture</button>
        <button id="start-record" class="menu_button">GIF</button>
        <button id="start-boomerang" class="menu_button">Boomerang</button>
        <a href="{% url 'capture' %}">Re Choose</a>  
      </div>
    </div>

    <div class="flexrow">
      <div class="upper_btn">
        <button id="download-video" class="gif_btn">Download GIF</button>
        <button id="retake-video" class="gif_btn">Retake GIF</button>
      </div>
    </div>

    <div class="flexrow">
      <div class="upper_btn">
        <button id="click-photo" class="btn btn-outline-primary pic_btn">Click Photo</button>
      </div>
    </div>

    <div class="flexrow">
      <div class="upper_btn">
        <form action = "" method = "POST" class="pic_btn">
          {% csrf_token %}
          <input id="photo_captured" type="hidden" name="photo_captured" value="">
          <input id="photo_edited" type="hidden" name="photo_edited" value="">
          <input class="button_input" type="submit" value="Save Your Photo">
        </form>   
          </div>
    </div>

  </div>

  <script src="https://www.WebRTC-Experiment.com/RecordRTC.js"></script>

<script>
    let camera_button = document.querySelector("#start-camera");
    let video = document.querySelector("#video");
    let screen_gif = document.querySelector("#screen-gif");
    let screen = document.querySelector(".screen");
    let click_button = document.querySelector("#click-photo");
    let canvas = document.querySelector("#canvas");
    let start_button = document.querySelector("#start-record");
    let retake_video = document.querySelector("#retake-video");
    let start_boomerang = document.querySelector("#start-boomerang");
    let download_link = document.querySelector("#download-video");
    let gif_btn = document.querySelectorAll(".gif_btn");
    let pic_btn = document.querySelectorAll(".pic_btn")
    let menu_btn = document.querySelectorAll(".menu_button");
    let capture_type1;
    let camera_stream = null;
    let media_recorder = null;
    let blobs_recorded = [];
    let frame_uri = '';
    let current_frame = '';
    const hide = n => n.style.display = "none";
    const show = n => n.style.display = "block";
    gif_btn.forEach(hide);
    pic_btn.forEach(hide);
    screen_gif.style.display = "null";

    //pic func
    camera_button.addEventListener('click', async function() {
        camera_stream = await navigator.mediaDevices.getUserMedia({ video: true, audio: false });
        video.srcObject = camera_stream;
        menu_btn.forEach(hide);
        pic_btn.forEach(show);
    });
    //gif func
    start_button.addEventListener('click', function () {
        menu_btn.forEach(hide);
        gif_btn.forEach(show);
    });
    retake_video.addEventListener('click', take_GIF);
    //boomerang func
    start_boomerang.addEventListener('click', function () {
      menu_btn.forEach(hide);
      alert(3)
    });
    //click the take photo button
    click_button.addEventListener('click', function () {
        startCountdown(5);
        sessionStorage.setItem("imgWidth", video.offsetWidth);
        sessionStorage.setItem("imgHeight", video.offsetHeight);
        canvas.width = video.offsetWidth;
        canvas.height = video.offsetHeight;
        canvas.getContext('2d').drawImage(video, 0, 0, video.offsetWidth, video.offsetHeight);
        let image_data_url = canvas.toDataURL('image/jpeg');
        video.style.display = "none";
        click_button.style.display = "none";
        document.getElementById('photo_captured').value = image_data_url
        document.getElementById('photo_edited').value = image_data_url
    });
    //click the take gif button
    function take_GIF() {
      startCountdown(5);
      navigator.mediaDevices.getUserMedia({
        video: true,
        audio: false,
      }).then(async function(stream) {
          let recorder = RecordRTC(stream, {
              type: 'gif',
              recorderType: GifRecorder,
          });
          video.srcObject = stream;
          canvas.getContext('2d').drawImage(video, 0, 0, video.offsetWidth, video.offsetHeight);
          recorder.startRecording();
          const sleep = m => new Promise(r => setTimeout(r, m));
          retake_video.disabled = true;
          download_link.disabled = true;
          await sleep(3000);
          recorder.stopRecording(function() {
              canvas.style.display = "none";
              video.style.display = "none";
              retake_video.disabled = false;
              download_link.disabled = false;
          });

          download_link.addEventListener('click', function () {
            let blob = recorder.getBlob();
            invokeSaveAsDialog(blob);        
          });

          recorder.getDataURL(function(dataURL) { 
              screen_gif.src = dataURL;
          });

          screen_gif.style.display = "block";
      });
    }

    //timer
    function startCountdown(seconds) {
        let counter = seconds;          
        const interval = setInterval(() => {
            console.log(counter);
            counter--;
              
            if (counter < 0 ) {
              clearInterval(interval);
              console.log('Ding!');
            }
        }, 1000);
    }

</script>

{% endblock %}
