{% extends 'layout.html' %}
{% load social_share %}
{% block body %}
<div class="innerContainer">
    <div class="screen">
        <canvas id="myCanvas"></canvas>
    </div>
    <div class="flexrow">
        <div class="upper_btn">
            <button id='undo' class="" onclick="undo_action()">Undo</button>
            <button id="redo" onclick="redo_action()">Redo</button>    
        </div>
    </div>
    <div class="flexrow">
        <div class="upper_btn">
            {% post_to_facebook object_or_url "Post to Facebook!" "btn btn-primary" %}
            <a href="" class="" onclick="download_image()" id="download">DOWNLOAD</a>
        </div>
    </div>
    <div class="flexrow">
        <div class="upper_btn">
            <form action="" method="post">
                {% csrf_token %}
                <input id="photo_edited" type="hidden" name="photo_edited" value="">
                <input class="button_input upper_btn" type="submit" value="Save Your Photo">
            </form>    
            </div>
        </div>
    <div class="flexrow">
        <div class="upper_btn">
            <button id=s0 class="sticker">Clear Sticker!</button>
        </div>
        <div class="stickers_list">
            {% for emoji in emojis %}
            <img src="{{ emoji.emoji }}" alt="{{ emoji.pk }}" width="40" height="40" id="{{ emoji.id }}" class="sticker">
            {% endfor %}    
        </div>
    </div>
    <div class="flexrow">
        <div class="upper_btn">
            <button id=f0 class="">Clear Frames!</button>
            <button id="apply_frame">Apply Frame</button>    
        </div>
        <div class="frames_list">
            {% for frame in frames %}
            <img src="{{ frame.frame }}" alt="{{ frame.id }}" id="{{ frame.id }}" class="frame">
            {% endfor %}    
        </div>
    </div>
</div>
<script>
    var imgWidth = sessionStorage.getItem("imgWidth");
    var imgHeight = sessionStorage.getItem("imgHeight");
    var strDataURI = '{{ photo.photo_edited }}';
    var apply_frame = document.getElementById("apply_frame");
    var c = document.getElementById("myCanvas");
    var redo = document.getElementById("redo");
    var undo = document.getElementById("undo");
    var ctx = c.getContext("2d");
    var guessX = 0;
    var guessY = 0;
    let frame_uri = '';
    const change = [];
    let current_version = change.length;
    let control_version = 0;
    let head_version = change.length;
    console.log(head_version)

    function undo_action() {
        if (current_version == 0) {
            alert("No previous activity exists")
        }
        else {
            current_version = current_version - 1
            control_version = current_version
            // console.log(change[control_version])
            var img = new Image;
            image_co_data_version = change[control_version]
            img.src = image_co_data_version;
            c.getContext('2d').clearRect(0, 0, sessionStorage.getItem("imgWidth"), sessionStorage.getItem("imgHeight"));
            draw_image(ctx, image_co_data_version, 0, 0, sessionStorage.getItem("imgWidth"), sessionStorage.getItem("imgHeight"))
            document.getElementById('photo_edited').value = image_co_data_version;
            
            console.log("YOu are at ", control_version, " of ", head_version)
        }
    }

    function redo_action() {
        console.log(current_version, control_version, head_version)
        if (control_version >= head_version-1) {
            alert("This is latest saved version, NO further Redo Possible")
        }
        else {
            current_version = current_version + 1
            control_version = current_version
            var img = new Image;
            image_co_data_version = change[control_version]
            img.src = image_co_data_version;
            c.getContext('2d').clearRect(0, 0, sessionStorage.getItem("imgWidth"), sessionStorage.getItem("imgHeight"));
            draw_image(ctx, image_co_data_version, 0, 0, sessionStorage.getItem("imgWidth"), sessionStorage.getItem("imgHeight"))
            document.getElementById('photo_edited').value = image_co_data_version;

            console.log("YOu are at ", control_version, " of ", head_version)
        }
    }

    if (imgHeight != "" && imgWidth != "") {
        c.width = imgWidth;
        c.height = imgHeight;
    }
    else{
        c.width = "300px";
        c.height = "300px";
    }

    function draw_image(ctx, strDataURI, dx, dy, dWidth, dHeight) {
        var img = new Image;
        img.src = strDataURI;
        img.onload = function(){
            ctx.drawImage(img, dx, dy, dWidth, dHeight);
    }};
    draw_image(ctx, strDataURI, 0, 0, imgWidth, imgHeight);
    myCanvas.addEventListener('click', function storeGuess(event) {
        var x = event.offsetX;
        var y = event.offsetY;
        guessX = x;
        guessY = y;
        console.log("x coords: " + guessX + ", y coords: " + guessY);
        draw_image(ctx, emoji_uri, guessX, guessY, imgWidth/10, imgHeight/10)
        image_co_data = c.toDataURL( "image/png" );
        // add to change
        change.push(image_co_data);
        current_version = change.length;
        head_version = change.length;
        console.log(current_version, control_version, head_version);

        document.getElementById('photo_edited').value = image_co_data;
    });
    function download_image(){
        image = c.toDataURL("image/png").replace("image/png", "image/octet-stream");
        var link = document.createElement('a');
        link.download = "my-image.png";
        link.href = image;
        link.click();
    };
    function removeClasses(one) {
      one.classList.remove('selected');
    };
    let emoji_uri = '';
    let current_sticker = '';
    const buttons = document.querySelectorAll(".sticker");
    for (const button of buttons) {
    button.addEventListener('click', function(event) {
        buttons.forEach(removeClasses);
        document.querySelectorAll(".frame");
        button.classList.add("selected");
        if (button.id != 's0') {
            current_sticker = button.id;
            emoji_uri = button.src;
            console.log(current_sticker);
        }
        else if (button.id === 's0') {
            current_sticker = '';
            emoji_uri = '';
            console.log(current_sticker);
        }
    })};
    const frames = document.querySelectorAll(".frame")
    for (const f of frames) {
    f.addEventListener('click', function(event) {
        frames.forEach(removeClasses);
        f.classList.add("selected")
        if (f.id != 'f0') {
            current_frame = f.id;
            frame_uri = f.src;
        }
        else if (f.id === 'f0') {
            current_frame = '';
            frame_uri = '';
        }
    })};
    apply_frame.addEventListener('click', function () {
        var img = new Image;
        img.src = frame_uri;
        c.getContext('2d').drawImage(img, 0, 0, sessionStorage.getItem("imgWidth"), sessionStorage.getItem("imgHeight"));
        image_co_data = c.toDataURL( "image/png" );
        // add to change
        change.push(image_co_data);
        current_version = change.length;
        head_version = change.length;
        console.log(current_version, control_version, head_version);

        document.getElementById('photo_edited').value = image_co_data;
    });
</script>
{% endblock %}
