{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <script src="{% static 'js/script.js' %}"></script> -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <title>My pHOTOS App!</title>
</head>
<body>
    <div class="container">
        <nav class="headnav">
            {% if request.user.is_superuser %}
            <a href="{% url 'add_images' %}">Add New Stickers</a>
            <a href="{% url 'add_frames' %}">Add New Frames</a>
            {% endif %}
            <a href="{% url 'capture' %}">Capture New Photo</a>
            <a href="{% url 'ListOnes' %}">All your Photos</a>
        </nav>
        {% block body %}
        {% endblock %}  
    </div>
</body>
</html>
