{% extends 'layout.html' %}
{% load social_share %}
{% block body %}
<div class="innerContainer">
    <div class="screen">
        <canvas id="myCanvas"></canvas>
    </div>
    
    <div class="flexrow">
        <div class="upper_btn">
            <a href="{% url 'editor' id=photo.id %}" class="">EDIT</a>
            <a href="" onclick="download_image()" id="download" class="">DOWNLOAD</a>    
            {% post_to_facebook object_or_url "Post to Facebook!" "btn btn-primary" %}
        </div>
    </div>

</div>

<script>
    var imgWidth = sessionStorage.getItem("imgWidth");
    var imgHeight = sessionStorage.getItem("imgHeight");
    var strDataURI = '{{ photo.photo_edited }}';
    var c = document.getElementById("myCanvas");
    var ctx = c.getContext("2d");
    c.width = imgWidth;
    c.height = imgHeight;

    function draw_image(ctx, strDataURI, dx, dy, dWidth, dHeight) {
        var img = new Image;
        img.onload = function(){
            ctx.drawImage(img, dx, dy, dWidth, dHeight);
        };
        img.src = strDataURI;  
        image_co_data = c.toDataURL( "image/png" );
        document.getElementById('download').href = image_co_data;
    }
    draw_image(ctx, strDataURI, 0, 0, imgWidth, imgHeight);

    function download_image(){
        image = c.toDataURL("image/png").replace("image/png", "image/octet-stream");
        var link = document.createElement('a');
        link.download = "my-image.png";
        link.href = image;
        link.click();
    }
</script>
{% endblock %}
